html {
    background-color: rgb(255, 255, 255);

}
header {
    background-color: rgb(190, 190, 190);
    border-radius: 30px;
    padding: 1px;
    padding-top: 18px;
    margin: 10px;
    margin-right: -1px;
    margin-left: -1px;
    margin-top: -33px;
    color: rgb(0, 0, 0);
    text-align: center;
}
[name="txt"]{
    text-size-adjust:inherit;
}
[name="intro"]{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
[name="txt1"]{
    margin-right: 60%;
    margin-bottom: -270px;
    font-size: 150%;
}
[name="drone"] {
    margin-left: 0px;
    image-orientation: center;
}
[name="trabalho"] {
    width: 50%;
    float: right;
    margin-top: 4%;
}