html {
    background-color: rgb(255, 255, 255);

}
header {
    background-color: rgb(190, 190, 190);
    border-radius: 30px;
    padding: 1px;
    padding-top: 18px;
    margin: 10px;
    margin-right: -1px;
    margin-left: -1px;
    margin-top: -33px;
    color: rgb(0, 0, 0);
    text-align: center;
}
[name="txt"]{
    text-size-adjust: 50%;
}
main {
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    border-width: 1%;
}
[name="intro"]{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
[name="intro"]{
    font-size: 300%;
}
[name="txt1"]{
    margin-right: 60%;
    margin-bottom: -30%;
    font-size: 200%;
}
[name="drone"] {
    margin-left: 0px;
    image-orientation: center;
}
[name="trabalho"] {
    width: 51%;
    margin-left: 44%;
    margin-top: 1%;
}
[name="o"] {
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    padding: 1%;
    margin-top: 1%;
}
[name="desen"] {
    font-size: 200%;
}
[name="txt2"] {
    font-size: 150%;
}
[name="video"] {
    padding: 1%;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    position: center;
    margin-top: 1%;
}
footer {
    background-color: rgb(150, 150, 150);
    padding: 2%;
    margin-top: 1%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: -1%;
}
footer p {
    text-align: center;
    padding: 2%;
}